@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  a {
    color: white;
    text-decoration: none;
  }
  font-family: "Poppins", sans-serif;
  background-color: #1b004e;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.promo_bg {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
    to right top,
    #220076,
    #330071,
    #3f006c,
    #470067,
    #4e0062
  );
  background-repeat: repeat-x;

  header {
    margin: 0px auto;
    padding-top: 30px;
    width: 1170px;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img.logo {
        transform: translateY(-8px);
      }
      ul {
        margin-left: -42px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-weight: 300;
        letter-spacing: 1px;
        li {
          padding: 0 9px 0 9px;
          a:hover {
            color: #f38080;
          }
        }
      }
      button {
        background-color: transparent;
        border: 2px solid #f7931a;
        border-radius: 50px;
        font-size: 17px;
        line-height: 0;
        height: 47px;
        width: 150px;
        letter-spacing: 1px;
      }
      button:hover {
        background-color: #1b004e;
      }
    }
  }
}
.promo_bottom_img {
  margin: 0 auto;
  background: url(img/bg_slice.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 86px;
  width: 100%;
}

section.promo {
  img.header_img {
    width: 650px;
    top: 15px;
    left: 670px;
    position: absolute;
  }
  h1.header_title {
    color: white;
    font-size: 60px;
    padding-top: 68px;
  }
  p.header_subtitle {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-top: -25px;
  }
  button.white_listed {
    color: white;
    font-size: 17px;
    background-color: #eb5757;
    border: 0;
    border-radius: 50px;
    height: 47px;
    width: 190px;
    margin: 20px 0 0 0;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1140px) {
  li {
    letter-spacing: 0;
  }
}
