@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  a {
    color: white;
    text-decoration: none;
  }
  font-family: "Poppins", sans-serif;
  background-color: #1b004e;
  button:active {
    transform: scale(0.97);
  }
  button:hover {
    cursor: pointer;
  }
  h2.subtitle {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 55px;
  }
  h2.black {
    color: black;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    #3e006c,
    #42006a,
    #460067,
    #4a0065,
    #4d0063
  );
  z-index: 5;
  .header_container {
    padding: 30px 15px 10px 15px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    .hamburger_menu {
      display: none;
    }
    .logo {
      img.logo {
        transform: translateY(-8px);
      }
    }
    button {
      background-color: transparent;
      border: 2px solid #f7931a;
      border-radius: 50px;
      font-size: 17px;
      line-height: 0;
      height: 47px;
      width: 150px;
      letter-spacing: 1px;
    }
    button:hover {
      background-color: #1b004e;
    }
    nav {
      ul {
        margin-left: -42px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-weight: 300;
        letter-spacing: 1px;
        li {
          padding: 0 9px 0 9px;
          a:hover {
            color: #f38080;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

.promo_bg {
  width: 100%;
  min-height: 520px;
  margin-top: 96px;
  background-image: linear-gradient(
    to right top,
    #220076,
    #330071,
    #3f006c,
    #470067,
    #4e0062
  );
  background-repeat: repeat-x;
}
.promo_bottom_img {
  margin: 0 auto;
  background: url(img/bg_slice.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 86px;
  width: 100%;
}

section.promo {
  .header_img_wrap {
    position: relative;
    img.header_img {
      width: 100%;
      top: 107px;
      left: 0;
      position: absolute;
    }
  }
  h1.header_title {
    color: white;
    font-size: 60px;
    margin-top: 95px;
  }
  p.header_subtitle {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-top: -36px;
    span {
      display: block;
    }
  }
  button.white_listed {
    color: white;
    font-size: 17px;
    background-color: #eb5757;
    border: 0;
    border-radius: 50px;
    height: 47px;
    width: 190px;
    margin: 20px 0 0 0;
    letter-spacing: 1px;
  }
}

section.crypto_prices {
  padding-top: 60px;
  padding-bottom: 100px;
  table {
    color: white;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    th {
      padding-top: 5px;
      height: 41px;
      text-align: left;
      vertical-align: top;
      font-size: 14px;
      font-weight: 400;
    }
    td {
      padding: 20px 0 22px;
      border-top: 1px solid #bdbdbd;
      box-sizing: border-box;
      font-size: 14px;
      vertical-align: top;
      span {
        text-transform: uppercase;
        color: #828282;
        padding-left: 10px;
        font-size: 11px;
      }
      img.star_img {
        padding-right: 15px;
        vertical-align: middle;
      }
      img.crypto_icon {
        padding: 0 8px;
        vertical-align: middle;
      }
      img.crypto_up,
      .crypto_down {
        padding-right: 5px;
      }
      img.line_img {
        padding-right: 13px;
      }
    }
    .number {
      padding-left: 3ch;
    }
    .last7d {
      padding-left: 8%;
    }
    .volume {
      width: 16%;
      padding-left: 6%;
    }
    .master {
      width: 12%;
    }
    .d7 {
      width: 11%;
    }
    .h24 {
      width: 8%;
    }
    .name {
      width: 15%;
    }
    .price {
      width: 14%;
      padding-left: 2%;
    }
    .star {
      color: #828282;
      font-size: 12px;
    }
    .red_color {
      color: #ff1a1a;
    }
    .green_color {
      color: #1aff7c;
    }
    .fz13 {
      font-size: 13px;
    }
    .text_align_right {
      text-align: right;
    }
    .padding_top {
      padding-top: 20px;
    }
    .up_arrow {
      padding-bottom: 5px;
    }
    img.info_icon {
      vertical-align: middle;
    }
  }
}

section.platform {
  background-color: #fff6fb;
  padding-top: 68px;
  min-height: 600px;
  h3 {
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 17px;
  }
}

section.store {
  min-height: 700px;
  .store_images_mob {
    display: none;
  }
  h2.subtitle {
    text-align: left;
    margin: 193px 0 0;
  }
  p {
    font-size: 17px;
    color: white;
    width: 90%;
  }
  .store_images {
    margin-top: 50px;
    display: flex;
    gap: 25px;
  }
  .store_img_ph {
    position: relative;
    margin-top: 50px;
    img {
      position: absolute;
      width: 82%;
      top: 52px;
      left: 20%;
    }
  }
}

section.thrive {
  padding: 70px 0 110px;
  background-color: #fff6fb;
  .item_wrap {
    margin: -12px auto;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 422px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.07);
    .item_img {
      img {
        width: 100%;
        transform: translateY(-3px);
      }
    }
    .item_text {
      width: 93%;
      margin: 0 auto;
      h4 {
        font-size: 16px;
        font-weight: 400;
      }
      p {
        color: #4f4f4f;
        font-size: 14px;
        font-weight: 300;
      }
      .fz12 {
        font-size: 12px;
      }
      .item_footer {
        width: 98%;
        display: flex;
        justify-content: space-between;
        line-height: 0;
        align-items: center;
        color: red;
        img.item_footer_icon {
          height: 10px;
          padding-right: 5px;
          transform: translateY(1px);
        }
      }
    }
  }
}

section.subscribe {
  position: relative;
  padding: 77px 0 50px;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  h2.subscribe,
  h3.subscribe {
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 0;
  }
  h3.subscribe {
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
  }
  .btn_wrap {
    display: flex;
    justify-content: space-between;
    margin: 53px auto;
    border: 2px solid white;
    max-width: 580px;
    min-width: 200px;
    width: 40%;
    padding: 4px 4px 4px 20px;
    border-radius: 50px;
    input {
      font-size: 15px;
      width: 50%;
      outline: none;
      border: none;
      color: white;
      background-color: #1b004e;
    }
    input::placeholder {
      color: #ffffff;
    }
    a {
      background-color: #eb5757;
      padding: 20px 30px 20px 30px;
      border-radius: 30px;
    }
    a:active {
      transform: scale(0.98);
    }
  }
}

footer {
  padding: 80px 0 80px 0;
  background-image: linear-gradient(
    to right,
    #3e006c,
    #42006a,
    #460067,
    #4a0065,
    #4d0063
  );
  .links_wrap {
    display: flex;
    justify-content: space-between;
    div {
      font-size: 17px;
      font-weight: 200;
      color: white;
      span {
        font-weight: 500;
        font-size: 18px;
      }
      p {
        margin-top: 22px;
      }
    }
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bcbcbc;
    margin-top: 55px;
    padding-top: 30px;
    .copyright {
      p {
        color: #bcbcbc;
        font-size: 14px;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        line-height: 0;
      }
    }
  }
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 0 25px;
  }
  li {
    letter-spacing: 0;
  }
  section.promo {
    h1.header_title {
      font-size: 48px;
      line-height: 3.5rem;
    }
    p.header_subtitle {
      margin-top: -11px;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    background: #1b004e;
  }
  nav {
    display: none;
  }
  section.promo {
    h1.header_title {
      text-align: center;
      font-size: 26px;
      line-height: 2.8rem;
      span {
        display: block;
      }
    }
    p.header_subtitle {
      margin-top: 0;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      span {
        display: inline;
      }
    }
  }
  header {
    .header_container {
      padding-top: 55px;
      align-items: center;
      .logo {
        .logo_img {
          transform: translateY(4px);
        }
      }
      .hamburger_menu {
        display: block;
      }
      #menu_toggle {
        opacity: 0;
        &:checked {
          & ~ .menu_btn {
            & > span {
              transform: rotate(45deg);
              &::before {
                top: 0;
                transform: rotate(0);
              }
              &::after {
                top: 0;
                transform: rotate(90deg);
              }
            }
          }
          & ~ .menu_box {
            visibility: visible;
            left: 0;
          }
        }
      }
      .menu_btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 67px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        & > span {
          &::before {
            content: "";
            top: -8px;
          }
          &::after {
            content: "";
            top: 8px;
          }
        }
      }
      .menu_btn > span,
      .menu_btn > span::before,
      .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #ffffff;
        transition-duration: 0.25s;
      }
      .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #1b004e;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        transition-duration: 0.25s;
      }
      .menu_item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: 0.25s;
        &:hover {
          background-color: #eb5857;
        }
      }
    }
  }
  .header_img_wrap {
    display: none;
  }
  .promo_bg {
    background-image: none;
    min-height: 0;
    .promo_btn {
      display: flex;
      justify-content: center;
    }
  }

  .promo_bottom_img {
    display: none;
  }
  .trade {
    display: none;
  }

  section.crypto_prices {
    padding-top: 30px;
    h2.subtitle {
      font-size: 20px;
    }
    table {
      border-top: none;
      tr th {
        display: none;
      }
      tr td {
        display: none;
      }
      tr th:nth-child(2) {
        display: block;
      }
      tr th:nth-child(7) {
        display: table-cell;
      }
      tr td:nth-child(2) {
        display: block;
      }
      tr td:nth-child(7) {
        display: table-cell;
      }
    }
  }
  section.platform {
    padding: 30px 0 30px;
    .container {
      display: flex;
      flex-direction: column;
    }
    .platform_block {
      text-align: center;
      margin-top: 25px;
    }
    h2.black {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  section.store {
    min-height: 0;
    padding-bottom: 50px;
    h2.subtitle {
      font-size: 20px;
      text-align: center;
      margin: 25px 0;
    }
    p {
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
    .store_images {
      display: none;
    }
    .store_img_ph {
      position: relative;
      margin-top: 0;
      text-align: center;
      img {
        position: relative;
        width: 80%;
        top: 20px;
        left: 0;
      }
    }
    .store_images_mob {
      display: flex;
      justify-content: center;
      gap: 0;
      margin-top: 50px;
      a {
        display: flex;
        justify-content: center;
      }
      img {
        width: 80%;
      }
    }
  }
  section.thrive {
    h2.black {
      font-size: 32px;
      margin: 0;
    }
    .item_wrap {
      margin-top: 50px;
    }
  }
  section.subscribe {
    padding: 40px 0 10px;
    img {
      display: none;
    }
    h2.subscribe {
      font-size: 24px;
    }
    h3.subscribe {
      padding-top: 20px;
      font-size: 14px;
    }
    .btn_wrap {
      width: 90%;
      a {
        padding: 13px 30px 13px 30px;
      }
    }
  }
  footer {
    padding-bottom: 50px;
    .links_wrap {
      flex-direction: column;
      div {
        margin-top: 30px;
      }
    }
    .footer_bottom {
      text-align: center;
      flex-direction: column-reverse;
      .social {
        justify-content: center;
      }
    }
  }
}
